.container {
  display: inline;
}
p {
  font-size: ;
}
/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (max-width: 1000px) {
  p,
  a {
    font-size: 20px;
  }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */

#projects,
p {
  max-width: 1000px;
}

@media (min-width: 1000px) {
  #projects: ;
}

@media (max-width: 500px) {
  p,
  a {
    font-size: 25px;
  }
}
